
.Button {
  position:relative !important;
  color: white !important;
  width: 2rem !important; /* w-8 */
  height: 2rem !important; /* h-8 */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}