.galleryWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  gap: 1.5rem;
}

.videoContainer {
  width: 100%;
  max-width: 48rem;
  min-width: 0;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1), 0 4px 6px rgba(0,0,0,0.05);
}
