.fullscreenButton:global(.MuiButtonBase-root) {
  --btn-height: 2rem; /* h-8 */
  --btn-width: 2rem;
  --btn-min-width:2rem;
}

.fullscreenButton .fullscreenIcon {
  --svg-min-width: 0;
  --svg-icon-width: var(--btn-width); 
  --svg-icon-height: var(--btn-height); 
  
}

.muteButton:global(.MuiButton-root) {
  --btn-height: 2.5rem; /* h-8 */
  --btn-width: 2.5rem;
  --btn-min-width:2.5rem;
  --btn-border-radius:0.375rem;
}


.playPauseButton:global(.MuiButton-root) {
  --btn-border-radius:50%;
  --btn-min-width:3rem;
}



.playIcon {
  --svg-icon-width: 1.25rem; /* w-5 -> 1.25rem */
  --svg-icon-height: 1.25rem; /* h-5 -> 1.25rem */
}

.muteIcon{
  --svg-icon-width: 1.25rem; /* w-5 -> 1.25rem */
  --svg-icon-height: 1.25rem; /* h-5 -> 1.25rem */
}
