.acceptButton:global(.MuiButton-root) {
    --dialog-bg-color: darkred;
    --btn-width:5rem;
    background-color: var(--dialog-bg-color);
    width: var(--btn-width);
}


.dialogTitle{
    --dialogTile-color:darkred;
    --dialogTitle-txtAlign:center;
    color:var(--dialogTitle-color);
    text-align: var(--dialogTitle-txtAlign);
}


.dialogContent{
    --dialogContent-color:black;
    --dialogContent-txtAlign:center;
    color:var(--dialogContent-color);
    text-align: var(--dialogContent-txtAlign);
}

