.acceptButton:global(.MuiButton-root) {
    background-color: darkred;
    width: 5rem;
}


.dialogTitle{
    color:darkred;
    text-align: center;
}


.dialogContent{
    color:black;
    text-align: center;
}
