

.acceptButton {
  background-color: #3b82f6; /* azul MUI por defecto, se puede ajustar */
  color: white;
}



.select {
  font-size: 0.875rem !important;
  padding: 0.25rem 0.5rem !important; /* px-1, py-0.5 */
  color: white !important;
  border-radius: 1rem !important;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
   font-size: 0.8rem;
     line-height: 1.2;
}

.label {
  position: relative;
  margin-bottom: 0.25rem; /* mb: 1 -> 0.25rem */
  text-align: center;
  white-space: nowrap;
 
}

.stack {
  display: flex;
  flex-direction: row;
  gap: 1rem; /* espacio entre opciones */
}

.radioLabel {
  display: flex;       
  flex-direction: column; 
  align-items: center; 
  width: auto;        
}

.radioGroup {
  width: 100%;
}


.BoxControl {
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap: 1.60rem;
}


.BoxControlTime{
  position:relative;
  width:7rem;
  white-space: nowrap;
  text-align: center;
}

.WrapperControlProgress{
  display:inline-block; 
}

.WrapperControlProgress, .WrapperControlVolumen{
 position:relative;
 margin-top: 0.40rem; 
 pointer-events:none;

}
.WrapperControlVolumen{
  margin-left: 0.2rem;
  display:inline-block;
   

}
/*
.WrapperControlProgress::after, .WrapperControlVolumen::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-color: rgba(0,0,0,0);
  transition: background-color 180ms ease;
  height: 2.5rem;   
  top: 50%;
  left: 0;
  transform: translateY(-57%);
    border-radius:0.25rem ;
  position: absolute;
  width: 100%;
    

}*/
/*
.WrapperControlProgress:hover::after, .WrapperControlVolumen:hover::after{
    background-color: rgba(0,0,0,0.08)
}*/


:global(.MuiSlider-root).BoxControlProgress{
  position:relative ;
  width:6rem ;
  min-width: 6rem ;
  appearance: 'none'; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius:0.25rem;
  justify-content:center;
  pointer-events:auto;

}

.BoxControlProgressTrack {height: 0.10rem}
.BoxControlProgressThumb {width: 0.8rem ; height: 0.8rem }
.BoxControlProgressRail  {width: 6rem ; min-width: 6rem; height: 2rem }  


:global(.MuiSlider-root).BoxControlVolumen{
  position:relative ;
  width:6rem ;
  min-width: 6rem ;
  height:0.25rem ;
  appearance: 'none'; 
  -webkit-appearance: none;
  -moz-appearance: none ;
  appearance: none ;
  border-radius:0.25rem;
  justify-content:center;
  pointer-events:auto;
    
}

.BoxControlVolumeTrack {height: 0.10rem }
.BoxControlVolumeThumb {width: 0.8rem ; height: 0.8rem }
.BoxControlVolumeRail  {width: 6rem ; min-width: 6rem; height: 2rem}  


.CornerGlowBox{
  width:100%;
  position: relative; 
  padding: 0.75rem;
  min-width: 0;
  background-color: var(--bgc-cornerglowbox);
}

.CornerGlowBox::before, .CornerGlowBox::after {
  content: '';
  position: absolute;
  width: 10rem;
  height: 10rem;
  pointer-events: none;
}

.CornerGlowBox::before {
  bottom: 0;
  left: 0;
  background: radial-gradient(circle at bottom left, rgba(255,255,255,0.45), transparent 70%);
}

.CornerGlowBox::after {
  bottom: 0;
  right: 0;
  background: radial-gradient(circle at bottom right, rgba(255,255,255,0.45), transparent 70%);
}


.PlaybackRateMnItem {
      background-image: linear-gradient(90deg,var(--menu-item-bg-grad-start), var(--menu-item-bg-grad-start));
      font-weight:700;
}

.PlaybackRateMnItem::after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(
        var(--menu-item-bg-grad-start-hover),
        var(--menu-item-bg-grad-end-hover)
      );
      opacity: 0;
      transition: opacity 200ms ease;
      pointer-events: none;
    }
  
.PlaybackRateMnItem:hover::after {
      opacity: 1;
}

.PlaybackRateMn{
      background-image: linear-gradient(90deg,var(--menu-bg-grad-start), var(--menu-bg-grad-start));
}

.ContainerControl{
  position:relative;
  display: flex;
  width:100%;
  overflow: hidden;
  border-bottom-left-radius:1rem;
  border-bottom-right-radius:1rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);

}

.ContainerVolume{
  display:flex;
  width:auto;
  align-items:center;
}

.Playbackrate{
  height: 2rem;
}