
.button:global(.MuiButton-root) {
    --btn-color:white;
    --btn-width:2rem;
    --btn-min-width:2rem;
    --btn-height:3rem;
    --btn-bg-color: rgba(255, 255, 255, 0.25);
    --btn-padding:0;
    --btn-align-item:center;
    --btn-justify-content:center;
    --btn-flex-direction:row;
    --btn-border-radius:inherit;
    color: var(--btn-color);
    width: var(--btn-width);
    min-width: var(--btn-min-width);
    height: var(--btn-height);
    background-color: var(--btn-bg-color);
    padding: var(--btn-padding);
    align-items: var(--btn-align-item);
    justify-content: var(--btn-justify-content);
    flex-direction: var(--btn-flex-direction);
    border-radius: var(--btn-border-radius);
}

.button_fixedStyle:global(.MuiButton-root){
    position:relative;
    display: flex;
}

.button:global(.MuiButton-root)::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  width: inherit;
  min-width: inherit;
  height: inherit;
  inset: 0;
  background-color: rgba(0, 0, 0, 0); 
  transition: background-color 200ms ease; 
  pointer-events: none;
}

.button:global(.MuiButton-root):hover::after {
  --btn-bg-c-hov-aft: rgba(0, 0, 0, 0.08);
  background-color: var(--btn-bg-color)
}

.button:global(.MuiButton-root):active::after {
  --btn-bg-c-act-aft: rgba(0, 0, 0, 0.14);
  background-color: var(--btn-bg);
}



.button:global(.MuiButton-root):hover {
  --btn-bg-c-hov: rgba(255, 255, 255, 0.2);
  background-color: var(--btn-bg);
}

.loaderWrapper{
  position: absolute;
  inset: 0;             
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

