

.backdrop {
  --bk-bg-im: url('/images/dialog-bg.jpeg');
  --bk-bg-size:cover;
  --bk-bg-pos: center;
  --bk-bg-repeat: no-repeat;
  --bk-bg-color: white;
  background-image: var(--bk-bg-im);
  background-size: var(--bk-bg-size);
  background-position: var(--bk-bg-pos);
  background-repeat: var(--bk-bg-repeat);
  background-color: var(--bk-bg-color);
}


