
.root{
    display: flex;
    flex-direction: row;
    --select-align-item:center;
    --select-min-width:3rem;
    --select-color:white;
    --select-align-item:center;
    --select-border:2px solid white;
    --select-border-radius: 15px;
    color:var(--select-color) !important; /* !important hasta definir estilos con @layer*/
    align-items: var(--select-align-item);
    justify-content: var(--select-justify-content);
    border: var(--select-border);
    border-radius: var(--select-border-radius);
    min-width: var(--select-width);
 
    
}


.root :global(.MuiSelect-root){
  display: flex;
  flex-direction: row;
  padding: 0px;
  width: 100%;
  --select-justify-content: center;
  --select-align-item:center;
  align-items: var(--select-align-item);
  justify-content: var(--select-justify-content);
  line-height: var(--select-line-height);
}

.root :global(.MuiSelect-select){
  display: flex;
  flex-direction: row;
  min-height: unset;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-top: 0.25rem;
  padding-right: 1rem;
  padding-left: 0.25rem;
  --select-justify-content: center;
  --select-align-item:center;
  --select-line-height:1.2;
  align-items: var(--select-align-item);
  justify-content: var(--select-justify-content);
  line-height: var(--select-line-height);
 
}

  .root :global(.MuiSelect-icon) {
    --select-icon-color:white;
    color: var(--select-icon-color);
  }

:global(.MuiSelect-root:hover) {
   --select-border-color: #600000;
    border-color: var(--select-border-color) !important;
}

:global(.MuiSelect-root.Mui-focused) {
  --select-border-color: #600000;
    border-color: var(--select-border-color) !important;
}





    