.main {
  min-height: 100vh;
  background-color: #f3f4f6;
  padding: 6rem; /* p:24 -> 24*0.25rem = 6rem */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.title {
  font-size: 1.875rem; /* 30px */
  font-weight: 700;
  margin-bottom: 2rem;
  color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
}
